auto-save-list
ac-comphist.dat
*.elc
elpa
url
org-clock-save.el
anything-c-adaptive-history
session*
.DS_Store
projectile.cache
projectile-bookmarks.eld
.places
tramp
/.places
/ido.last
/recentf
/.mc-lists.el
/themes/upstream-theme.el
/backups
/TAGS
/TAGS.86853
/newsticker/
/var/
/TAGS.81299
/.cask/
