[submodule "emacs-rails-reloaded"]
	path = emacs-rails-reloaded
	url = git@github.com:ignacy/emacs-rails-reloaded.git
[submodule "rhtml"]
	path = rhtml
	url = http://github.com/eschulte/rhtml.git
[submodule "haskell-mode"]
	path = haskell-mode
	url = http://github.com/jwiegley/haskell-mode.git
[submodule "feature-mode"]
	path = feature-mode
	url = http://github.com/michaelklishin/cucumber.el.git
[submodule "android-mode"]
	path = android-mode
	url = git://github.com/remvee/android-mode.git
[submodule "org-mode"]
	path = org-mode
	url = git://orgmode.org/org-mode.git
